body {
      margin: 0;
      display: flex;
      flex-direction: column;
      min-height: 100vh; 
}
.content{
    flex: 1;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer{
    background: #222;
    color: white;
    text-align: center;
    padding: 15px;
}
.maincal{
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.display{
    width: 265px;
    height: 80px;
    border: 2px solid black;
    border-radius: 5px;
    overflow: hidden;
    text-overflow: ellipsis; 
    justify-content: flex-end;
}
.first{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.first button {
    width: 80px;
    height: 80px;
    background-color: rgb(112, 112, 112);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 4px 8px black;
    transition: all 0.1s ease
}
.first button:active{
    transform: scale(0.9);
    background-color: rgb(65, 65, 65);
}
.first.w {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}
.first.w button {
    width: 80px;
    height: 80px;
}

